/* tag wide styling */

h1 {
    text-align: center;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0px;
    background-image: url("../images/connectwork.png");
    padding: 20px;
    font-size: 10px;
    text-align: center;
    color: whitesmoke;
    margin-bottom: -10px;
}

/* class styling */

.container {
    background-image: url("../images/circles-light.png");
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
}

.header {
    background-image: none;
    padding: 5px;
    width: 100%;
    border-radius: 0px;
    color: whitesmoke;
    font-weight: bold;
    font-family: 'Anton', sans-serif;
    letter-spacing: 5px;
}

.hangman {
    margin-bottom: 50px;
}

/* id styling */

#boxLeft {
    border-style: groove;
    border: 5px;
    border-radius: 10px;
    margin: 2%;
    box-shadow: 20px 20px 50%;
}

#boxRight {
    border-style: groove;
    border: 5px;
    border-radius: 10px;
    margin: 2%;
    box-shadow: 20px 20px 50%;
}

#wordImage {
    margin: auto;
    padding: 10px;
}

#hint {
    width: 100%;
    height: auto;
    margin: 1% auto 10%;
    padding: 10px;
    filter: drop-shadow(10px 10px 50px) saturate(120%);
}

#hintBackground {
    width: 100%;
    position: absolute;
    background-position: center;
    background-size: auto;
    top: 0px;
    z-index: -1;
    filter: blur(15px) brightness(60%);
}

#hintW {
    text-align: center;
    border: none;
    padding: 5px;
    font-style: italic; 
    margin-bottom: -20px;
    font-family: 'Roboto', sans-serif;
}

/* media styling */

@media screen and (max-width: 1000px) {
    #hintBackground {
        height: 200%;
    }
}

